extends layout
block content
    #admin-container
        h1 Admin Control Panel
        if users
            ul  
                for user in users
                    li 
                        p= user.firstname + " " + user.lastname
                        p= user.username 
                        p= `Status - ${user.status}` 
        else 
            a(href="/user/all")
                button(type="button" class='btn btn-primary') view users  