doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/styles/style.css')
  body
    header 
        a(href="/" class="btn btn-primary") Home
        a(href="/post/all" class="btn btn-primary") view post
        if currentUser
            a(href=`/post/new` class="btn btn-primary") Create Post 
              a(href="/post/topic/create" class="btn btn-primary") Create Topic
            a(href="/logout" class="btn btn-primary") Logout
            if currentUser.status === "admin"
                a(href="/admin" class="btn btn-primary") Admin Panel
            a(href=`/user/${currentUser._id}/update-status` class="btn btn-primary") Change Status
            p= `Welcome, ${currentUser.firstname}` 
        else  
            a(href="/login" class="btn btn-primary") login
            a(href="/sign-up" class="btn btn-primary") sign up
    block content