doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/styles/style.css')
  body
    header 
        a(href="/" class="btn btn-primary") home 
        a(href="/login" class="btn btn-primary") login
        a(href="/sign-up" class="btn btn-primary") sign up
        if user
            a(href="/logout" class="btn btn-primary") logout
    block content