extends layout 
block content
    .form-container
        form(action="", method="post" id="login-form")
            .input-container(class="input-label-split")
                label(for="username") Email: 
                input(type="text", name="username" id="username" required placeholder="Enter email" autofocus)
            .input-container(class="input-label-split")
                label(for="password") Password: 
                input(type="password", name="password" id="password" required placeholder="Enter password")
            button(type="submit" class="btn btn-primary") login 
                
            a(href="/sign-up") dont have an account? click to sign up !
        #auto-login-container
            form(action="", method="post")
                input(type="hidden", name="username" value="default@default.com")  
                input(type="hidden", name="password" value="default")
                button(type="submit" class="btn btn-primary") login as default
            form(action="", method="post")
                input(type="hidden", name="username" value="admin@admin.com")  
                input(type="hidden", name="password" value="admin")
                button(type="submit" class="btn btn-primary") login as admin